body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    font-weight: 800;
    font-size: 1.25em;
}

code {
    padding: 10px 0px;
    white-space: pre; /* we do this to preserve whitespace */
}

section {
    padding: 20px 0px;
}

a {
    padding: 2px 0px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
}

nav a {
    display: block;
}

.shared-flex-item {
    padding: 5px;
    display: block;
}

#navbar {
    width: 20vw;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    align-self: flex-start; /* required to be made sticky in flexbox */
}

#main-doc {
    width: 75vw;
}

@media only screen and (max-width: 600px) {
    body {
        display: inline;
    }

    #navbar {
        width: 100vw;
        background-color: white;
    }

    #main-doc {
        width: 100vw;
    }

    nav a {
        width: 100vw;
        display: block;
    }
}
